node_modules
*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse #
.settings
.project
.classpath
.studio
target

# Apple # 
.DS_Store

# Intellij #
.idea
*.iml
*.log

# VSCode
.vscode

# logback
logback.out.xml

backend/src/main/resources/public/
backend/target
BMWPHD-FE/dist/
BMWPHD-FE/node/
BMWPHD-FE/node_modules/
BMWPHD-FE/npm-debug.log
BMWPHD-FE/target
BMWPHD-FE/yarn-error.log
BMWPHD-FE/yarn.lock
security/target/
selenium-debug.log
node_modules/
yarn.lock
dist/

!.mvn/wrapper/maven-wrapper.jar